[user]
	name = Alhadis
	email = gardnerjohng@gmail.com
	signingkey = 29ADC0C5D992F678
[core]
	autocrlf = false
	excludesfile = ~/.files/etc/.global.gitignore
	attributesfile = ~/.files/etc/.global.gitattributes
	whitespace = -blank-at-eol
	ignorecase = false
	untrackedCache = true
[alias]
	co = checkout
	r = remote --verbose
	s = status
	undo = reset --soft HEAD~1
[credential]
	helper = osxkeychain
[color]
	pager = false
[pager]
	show = format-diff
	diff = format-diff
[diff]
	renames = copies
[diff "bin"]
	textconv = hexdump -v -C
	cachetextconv = true
[diff "exif"]
	textconv = exiftool -x FileName -x Directory
	cachetextconv = true
[diff "ps"]
	textconv = ps2ascii
	cachetextconv = true
	binary = true
[diff "odt"]
	textconv = odt2txt
	cachetextconv = true
[diff "doc"]
	textconv = antiword -rsft
	cachetextconv = true
[diff "docx"]
	textconv = docx2txt.pl - /dev/stdout <
	cachetextconv = true
[filter "lfs"]
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[stash]
	showIncludeUntracked = true
	showPatch = true
[help]
	autocorrect = never
[github]
	user = Alhadis
[gpg]
	program = gpg2
[init]
	defaultBranch = master
[pull]
	rebase = false
