# Important stuff
[user]
	name = Alhadis
	email = gardnerjohng@gmail.com
	signingkey = 29ADC0C5D992F678
[core]
	autocrlf = false
	excludesfile = ~/.files/etc/.global.gitignore
	attributesfile = ~/.files/etc/.global.gitattributes
	whitespace = -blank-at-eol
	ignorecase = false
	untrackedCache = true
[credential]
	helper = osxkeychain
[github]
	user = Alhadis
[gpg]
	program = gpg2

# Porcelain configuration
[color]
	pager = false
[diff]
	renames = copies
[help]
	autocorrect = never
[init]
	defaultBranch = master
[pager]
	show = format-diff
	diff = format-diff
[pull]
	rebase = false
[stash]
	showIncludeUntracked = true
	showPatch = true

# User-defined git(1) subcommands
[alias]
	# Rarely-used shorthands
	co = checkout
	r = remote --verbose
	s = status

	# Manipulate history of local checkout
	undo = reset --soft HEAD~1
	rewind = reset --hard

	# Print the object-ID of the branch's last commit
	latest-hash = show --no-patch --format=%H

	# Print the name of the most recently-tagged release
	latest-tag = for-each-ref \
		--merged=HEAD \
		--count=1 \
		--ignore-case \
		--sort='-*creatordate' \
		--format='%(refname:lstrip=-1)' \
		refs/tags

# Diff drivers for binary file formats
[diff "bin"]
	textconv = hexdump -v -C
	cachetextconv = true
[diff "doc"]
	textconv = antiword -rsft
	cachetextconv = true
[diff "docx"]
	textconv = docx2txt.pl - /dev/stdout <
	cachetextconv = true
[diff "exif"]
	textconv = exiftool -a -U -x FileName -x Directory
	cachetextconv = true
[diff "odt"]
	textconv = odt2txt
	cachetextconv = true
[diff "pdf"]
	textconv = pdftotext -htmlmeta -layout - /dev/stdout <
	cachetextconv = true
	binary = true
[diff "ps"]
	textconv = ps2ascii
	cachetextconv = true
	binary = true

# Filter drivers
[filter "lfs"]
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
