cache          = ~/.cache/npm
engine-strict  = true
if-present     = true
logs-max       = 1
message        = "Release v%s"
omit           = optional

; Tell NPM to pull its head in
package-lock   = false
save           = false
workspaces     = false

; Improve CLI output
depth          = 0
fund           = false
heading        = "│"
long           = true
unicode        = true

; Authentication tokens, defined in environment
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
