shell=sh
enable=deprecate-which
external-sources=true
disable=SC2009  # Prefer `ps | grep` over pgrep(1)
disable=SC2015  # Silence nag about operator chaining

# Solaris 8-9 compatibility
disable=SC2006  # Don't suggest $(…) instead of `…`
disable=SC2021  # Ignore bracketed tr(1) ranges
