/* Unsupported property to force “userContent.css” to appear in devtools */
body{
	-webkit-locale: en-AU-u-sd-auvic-tz-aumel;
}

/* Reveal unusual control characters embedded in page */
@media not (-moz-bool-pref: "layout.css.control-characters.enabled")
and    not (-moz-bool-pref: "layout.css.control-characters.visible"){
	:root { -moz-control-character-visibility: visible; }
}

/* Internal Firefox pages */
@-moz-document url-prefix(about:){
	html, body{
		background: rgba(0, 0, 0, .1) !important;
		min-height: 100vh;
	}
}

/* AcronymFinder */
@-moz-document domain(acronymfinder.com), domain(acronymattic.com){
	/* Improve contrast */
	body, .acronym__search, .footer-main, .active > .tabs__item{
		color: #000 !important;
		font-weight: normal !important;
	}
	html:has(meta[itemprop="description" i][content*="AcronymAttic" i]) a:any-link{
		color: #267974 !important;
	}
	
	/* Fill available space */
	.container{
		max-width: none !important;
	}
	.database-surfer > .row{
		max-width: 1000px;
		margin: 0 auto !important;
	}
	
	/* Navbar */
	#navigation{
		min-height: 32px !important;
		padding: 0 !important;
		.navbar-text{
			float: none !important;
			&.navigation__menu    { margin: 8px 0 !important; }
			&.navigation__socials { display: none !important; }
		}
		a:hover { color: #fff !important;   }
		a:focus { outline: none !important; }
	}

	/* “Link/Citation” toolbar */
	.text-content:has(> .citation){
		margin: 0 0 1em !important;
		.citation__link__col{
			position: static !important;
			a:focus{
				outline: none !important;
				text-decoration: none !important;
			}
		}

		/* Spruce up the citation box */
		#Citation{
			box-shadow: 0 0 .75em -.35em #000;
			padding: 1em;
			margin-top: .75em;
			textarea{
				resize: none;
			}
			
			/* Make citation styles easier to copy+paste */
			ul > li{
				user-select: all;
				& > *:only-child > strong:first-child{
					user-select: none;
				}
			}
		}
	}

	/* Category filters */
	.tabs > li{
		vertical-align: middle !important;
		font-size: 1.1em;
		&.no-link{
			display: none !important;
		}
	}

	/* Search results list */
	.result-list{
		/* Remove third column; search links are broken */
		.result-list th:last-child:empty,
		td:has(a[href*="/~/search/google.aspx"]){
			display: none !important;
		}
		
		/* Auto-select abbreviation definitions */
		.result-list__body__meaning{
			user-select: all;
		}
	}

	/* Remove pointless empty spaces */
	#content > .acronym + [class$="-container"],
	.result-list td[colspan="3"],
	.search-results + div:has(> div[style*="width:"]),
	.footer-main > .container > div:empty,
	.fb-like-wrapper,
	.twitter-share-button{
		display: none !important;
	}

	/* Reduce excessive margins and tweak spacing */
	.content-wrapper,
	.search-sumup{
		padding-bottom: 0 !important;
		padding-top: 1em !important;
	}
}

/* Fix UX nits with ClearSky */
@-moz-document domain(clearsky.app){
	/* Block-list entries */
	.blocking-list-entry{
		/* Remove “dead space” around clickable areas */
		padding: 0 !important;
		& > a[href]{
			padding: .4em .6em;
			display: block;
		}
		
		/* Improve legibility of block dates */
		.blocking-date{
			opacity: unset;
		}
	}
	
	/* Hide donation nag */
	body{ overflow: initial !important; }
	a[href].donate,
	#root ~ .MuiDialog-root,
	
	/* Clear(er)Sky */
	.obscure-public-records-overlay{
		display: none !important;
	}
	.history-panel-container-obscurePublicRecords{
		filter: none !important;
		opacity: unset;
		pointer-events: unset;
	}
}

/* GitHub code-view */
@-moz-document domain(github.com){
	/* Facilitate inspection of syntax highlighting */
	#read-only-cursor-text-area ~ div:has(.react-code-lines){
		pointer-events: unset !important;
	}

	/* Thicken underlines drawn beneath tokenised links */
	.pl-corl{
		text-decoration-skip-ink: none;
		text-decoration-thickness: 1px;
	}
}

/* Default to 4-column tabstops when displaying source code */
@-moz-document domain(github.com), domain(gitlab.com), domain(mozilla.org){
	code, kbd, listing, plaintext, pre, samp, textarea, tt, xmp{
		tab-size: 4;
	}
	script:not([src]), style{
		font-family: -moz-fixed;
		white-space: pre;
		tab-size: 4;
	}
}

/* Apple developer docs */
@-moz-document domain(developer.apple.com){
	/* Hide that annoying “Retired Document” reminder */
	#legacyOuterWrapper.show{
		display: none !important;
	}
}

/* Internet Movie Database */
@-moz-document domain(imdb.com){
	.ipc-avatar{
		outline: 1px solid #0000001F;
		
		/* Prefer unclipped profile pictures */
		&, .ipc-media ~ .ipc-lockup-overlay{
			&, & > *{
				border-radius: unset !important;
			}
		}
	}
	
	/* Container below movie poster/trailers */
	.gilQBG{
		align-items: start !important;
		margin: 1em 1.5em !important;
	}
}

/* Cultural decay and teenage depression */
@-moz-document domain(instagram.com){
	/* Facilitate inspection of embedded videos */
	div:has(> #scrollview:first-child + div:last-child),
	video ~ div{
		pointer-events: none;
		opacity: 0;
	}

	/* Hide that annoying nag-screen when browsing anonymously */
	#scrollview:not(:last-child),
	#scrollview ~ div:has([role="dialog"] input[type="password" i]){
		display: none !important;
	}
}

/* Teach JSDoc about dark mode whilst tweaking its layout */
@-moz-document domain(jsdoc.app){
	html, body{
		color-scheme:      light dark;
		--text-color:      light-dark(#3d3d3c, #666)    !important;
		--tomorrow-gray:   light-dark(#8e908c, #999)    !important;
		--tomorrow-red:    light-dark(#c82829, #f00)    !important;
		--tomorrow-purple: light-dark(#8959a8, #c161ff) !important;
		--tomorrow-green:  light-dark(#718c00, #52c114) !important;
		background-color:  light-dark(#fff, #101418)    !important;
	}
	header{
		background-color:  light-dark(#ebebeb, #000) !important;
		border-bottom: 1px light-dark(#c6c6c6, #333) solid !important;
	}
	h1, h2, h3, h4, h5, h6, th{
		color: light-dark(#b93a38, #f23431) !important;
	}
	a:any-link{
		color: light-dark(#605c89, #88b6ff) !important;
	}
	p, ul, ol{
		text-indent:  unset !important;
		margin-left:  3em   !important;
		margin-right: 1.5em !important;
		&:not(p){
			padding-left: 1.5em !important;
		}
	}
	code, pre{
		font: .875em/1.5 Menlig, Menlo, monospace   !important;
		background-color: light-dark(#dedede, #111) !important;
		border-color:     light-dark(#999, #444)    !important;
		&.hljs.language-none{
			--text-color: light-dark(#3d3d3c, #e6e6e6);
		}
		&:is(pre){
			margin: 1em 0 !important;
			padding: .5em .7em !important;
		}
		& code{
			font-size:        unset !important;
			line-height:      unset !important;
			background-color: unset !important;
		}
	}
	figure{
		margin: 1em 1em 2em 3em !important;
		& > pre{
			margin-left: -.5em !important;
		}
	}
	th, td{
		background-color: light-dark(#dedede, #111) !important;
		border-color:     light-dark(#999, #444)    !important;
		
		/* Tabular content: reign in previously-applied spacing adjustments */
		p, pre     { margin:    1em !important; }
		figure     { margin:  .75em !important; }
		figure pre { margin:      0 !important; }
		figcaption { margin:  .25em !important; }
		
		/* Compensate for lack of descendant margins in text-only cells */
		&:not(:has(> :first-child)){
			padding: .25em 1em !important;
		}
	}
	@media (prefers-color-scheme: dark){
		img.license-badge{
			outline: 1px solid #000b;
			outline-offset: -2px;
		}
	}
	
	/* Hide that pointless “Fork me on GitHub” ribbon */
	*:has(> .github-ribbon:only-child){
		display: none !important;
	}
}

/* Hide Gmail's distracting “Upgrade” button */
@-moz-document domain(mail.google.com){
	[role="navigation"] > *:has([data-button-classes]:only-child:is(
		[data-onramp-input],
		[data-rp-onramp-input],
	)){ display: none !important; }
}

/* Hide tooltips on OpenBSD's manual pages */
@-moz-document domain(man.openbsd.org){
	main.manual-text [class]:hover::before{
		content: none !important;
	}
}

/* Apple podcasts */
@-moz-document domain(podcasts.apple.com){
	/* Make close buttons of “Choose another country…” notices easier to click */
	.banner-container[aria-label^="Choose country" i]{
		& > .banner-content{
			position: relative;
			button.close-button:first-child{
				position: absolute;
				padding: 15px 25px 20px !important;
				transform: translate(-25px, -50%);
				top: 50%;
				left: 0;
			}
		}
	}

	/* Make play buttons easier to click in artwork thumbnails of episode lists */
	.episode-wrapper__play-button-wrapper{
		--interactivePlayButtonSize: 100%;
		position: relative;
		& button.play-button{
			position: absolute;
			width:  100%;
			height: 100%;
		}
	}
}

/* Archaic microblogging */
@-moz-document domain(tumblr.com){
	html, body{
		overflow: unset !important;
	}
}

/* Teach Wondery about dark mode */
@-moz-document domain(wondery.com){
	@media (prefers-color-scheme: dark){
		:root, img, video, .pod-link svg, .site-header [class*="bg-charcoal"]{
			filter: invert(1) hue-rotate(180deg);
		}
		.controlsContainer{
			color: #000 !important;
		}
		.site-mode-selector .page-container .active-site-mode::before{
			background-color: #000 !important;
		}
		.controlBar{
			background-color: hsla(0, 0%, 90%, 0.8) !important;
		}
		[v-focus-visible="true"] [data-focus-visible-enabled="true"] :focus{
			outline-color: #fff !important;
		}
	}
}

/* Assuage YouTube's rebarbative UX */
@-moz-document domain(youtube.com){
	/* Fill available content space */
	ytd-rich-metadata-renderer{
		max-width: none !important;
	}

	/* Remove rounded corners */
	#ytd-player.ytd-watch-flexy,
	ytd-thumbnail[size] .ytd-thumbnail{
		border-radius: 0 !important;
	}
	
	/* Fix missing visual cues */
	#guide-links-primary,
	#guide-links-secondary{
		&.ytd-guide-renderer > a:hover{
			color: light-dark(#000, #eee) !important;
			color-scheme: light dark;
		}
	}
	
	/* Fix visibility “thrashing” caused by tooltip rollover events */
	yt-popover:not(:has(*)){
		pointer-events: none !important;
	}

	/* Exempt searchable transcripts from YouTube sidebar filter */
	ytd-watch-flexy #secondary{
		display: none;
		
		&:has(#panels > *[target-id*="transcript" i]){
			all: unset;
			
			#secondary-inner{
				all:       unset;
				display:   flex;
				height:    100%;
				width:     var(--ytd-watch-flexy-sidebar-width);
				min-width: var(--ytd-watch-flexy-sidebar-min-width);
			}
			#panels > *,
			#panels ~ *{
				display: none;
			}
			#panels > *[target-id*="transcript" i]{
				display: unset;
				margin-bottom: 0;
			}
		}
		&:has(#panels > *[target-id*="transcript" i][visibility*="HIDDEN" i]){
			display: none !important;
		}
	}

	/* Hide browser-game sections on homepage */
	ytd-rich-section-renderer:has(a[title="YouTube Playables" i]:is(
		[href^="/playableplayables" i],
		[href^="/playables" i],
	)),

	/* Hide shorts on homepage and in Subscriptions feed */
	ytd-rich-section-renderer:has(ytd-rich-shelf-renderer[is-shorts]),
	ytd-browse[page-subtype="subscriptions" i] ytd-rich-section-renderer:has(
		.ShortsLockupViewModelHost,
		ytm-shorts-lockup-view-model,
		ytm-shorts-lockup-view-model-v2
	),
	
	/* Hide unused sidebar items */
	ytd-guide-entry-renderer:has(> a:is(
		[title="Home"        i],
		[title="Shorts"      i],
		[title="Playlists"   i],
		[title="Your videos" i],
		[title="You"         i],
	)),
	
	/* Hide sidebar sections I'll never care about */
	ytd-guide-section-renderer:has(a:is(
		a[title="Music"           i],
		a[title="Gaming"          i],
		a[title="YouTube Premium" i],
		a[title="YouTube Music"   i],
	)),
	
	/* Hide unused buttons */
	yt-button-view-model:has(button-view-model > button:is(
		[aria-label="Clip"   i],
		[aria-label="Thanks" i],
	)){ display: none !important; }

	/* Improve contrast of playback progress bars */
	.ytp-cairo-refresh-signature-moments .ytp-play-progress,
	.progress-bar-played.ytd-progress-bar-line,
	#progress{
		background: #f03 !important;
	}
	ytd-thumbnail-overlay-resume-playback-renderer{
		background: light-dark(#ccc6c6, #534b4b) !important;
		color-scheme: light dark;
	}
	
	/* Reorder sidebar sections */
	#sections{
		display: grid;
		grid-template-columns: 1fr;
		& > ytd-guide-section-renderer{
			&:has(ytd-guide-entry-renderer > a[title="Home"    i]){ order: -2; }
			&:has(ytd-guide-entry-renderer > a[title="History" i]){ order: -1; }
		}
	}
	
	/* Prefer solid-coloured progress bars */
	.ytp-play-progress{
		background: #f03 !important;
	}
	.ytThumbnailOverlayProgressBarHostWatchedProgressBar{
		height: 6px !important;
		& > div[class$="Segment" i][style]:only-child{
			border-top: 2px solid #000 !important;
			background: #f03 !important;
		}
	}
	
	/* Make comments section accessible during full-screen mode */
	body:has(ytd-app[fullscreen]){
		overflow: initial !important;
		min-height: 100vh;
		
		ytd-app[fullscreen]{
			position: relative !important;
			overflow: hidden scroll !important;
		}
		#columns{
			display: block !important;
			#primary{
				margin: 0 auto !important;
				--ytd-margin-6x: 0;
			}
		}
	}
	
	/* End-of-video screen */
	.ytp-fullscreen-grid{
		z-index: 30 !important;
		bottom: var(--yt-delhi-bottom-controls-height, 72px) !important;
		top: 0 !important;
		
		.ytp-fullscreen-grid-main-content{
			align-items: start !important;
		}
		.ytp-modern-videowall-still{
			display: flex !important;
			margin-bottom: 0 !important;
		}
	}
	
	/* Hide recommended videos layer during full-screen playback */
	#movie_player.ytp-fullscreen{
		.ytp-fullscreen-quick-actions,
		.ytp-gradient-bottom,
		&:not(.ended-mode) .ytp-fullscreen-grid{
			display: none !important;
		}
		
		/* Use 4×3-sized grid for end-of-video thumbnails */
		.ytp-fullscreen-grid-stills-container{
			grid-template-columns: repeat(4, 1fr) !important;
		}
		
		/* Anchor trackbar to bottom-edge of viewport */
		.ytp-chrome-bottom{
			bottom: 0 !important;
			z-index: 99 !important;
			--ytp-grid-peek-height: 0;
			--ytp-grid-scroll-percentage: 0;
		}
	}
}

/* Attempt to fix UX issues with the Wayback Machine's calendar widget */
@-moz-document url-prefix(https://web.archive.org/web/){
	#react-wayback-search{
		.month .month-day-container{
			cursor: text;
			&.highlighted{
				cursor: unset;
				z-index: unset;
			}
		}
		.calendar-day{
			position: static;
			background: #1eafec;
			cursor: pointer;
			
			&:has(.measure.s2xx) { background: #1eafec; } /* Success */
			&:has(.measure.s3xx) { background: #008000; } /* Redirect */
			& > .position{ display: none !important; }
			& > a{
				position: absolute;
				background-color: inherit !important;
				border-radius: 50%;
				overflow: hidden;
				z-index:  9;
				top:      0;
				left:     0;
				bottom:   0;
				right:    0;
			}
		}
	}
}
