# NOTE: The fields commented-out below are unsupported as of v9.0.0, despite
# being documented: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
AlignAfterOpenBracket: AlwaysBreak
# AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: DontAlign
AlignOperands: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: true
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeCatch: false
    BeforeElse: true
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
BreakAfterJavaFieldAnnotations: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: false
ColumnLimit: 120
CommentPragmas: '^ *(@\w+|TODO|FIXME|CHANGED|XXX|IDEA|HACK|NOTE|REVIEW|NB|BUG|QUESTION|COMBAK|TEMP|DEBUG|OPTIMI[SZ]E|WARNING)\b'
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: true
FixNamespaceComments: true
ForEachMacros:
    - BOOST_FOREACH
    - FOREACH
    - FOREACH_PRISON_CHILD
    - FOREACH_PRISON_DESCENDANT
    - FOREACH_PRISON_DESCENDANT_LOCKED
    - FOREACH_PRISON_DESCENDANT_LOCKED_LEVEL
    - FOREACH_PROC_IN_SYSTEM
    - FOREACH_THREAD_IN_PROC
    - LIST_FOREACH
    - LIST_FOREACH_SAFE
    - MNT_VNODE_FOREACH_ACTIVE
    - MNT_VNODE_FOREACH_ALL
    - RB_FOREACH
    - RB_FOREACH_FROM
    - RB_FOREACH_REVERSE
    - RB_FOREACH_REVERSE_FROM
    - RB_FOREACH_REVERSE_SAFE
    - RB_FOREACH_SAFE
    - SLIST_FOREACH
    - SLIST_FOREACH_SAFE
    - STAILQ_FOREACH
    - STAILQ_FOREACH_SAFE
    - TAILQ_FOREACH
    - TAILQ_FOREACH_REVERSE
    - TAILQ_FOREACH_REVERSE_SAFE
    - TAILQ_FOREACH_SAFE
IncludeBlocks: Preserve
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 4
IndentWrappedFunctionNames: false
JavaImportGroups:
    - com.example
    - com
    - org
JavaScriptQuotes: Leave
JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: true
NamespaceIndentation: All
ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PointerAlignment: Right
ReflowComments: false
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 3
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: ForIndentation
